<div class="page-adm_box">
    <div class="page-adm_box_title" appToggleActive>
        POST: /api/v1/props
    </div>
    <div class="page-adm_box_body">
        <form [formGroup]="form" (ngSubmit)="submitForm($event)" class="form">
            <div class="form_row">
                <div class="form_title">заголовок</div>
                <input type="text" formControlName="title" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">[name=] *</div>
                <input type="text" formControlName="name" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">суффикс</div>
                <input type="text" formControlName="suffix" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">комментарий</div>
                <input type="text" formControlName="comment" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">приватный комментарий</div>
                <input type="text" formControlName="privateComment" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">разновидность тега</div>
                <select formControlName="kindPropId" class="form_100">
                    <option value="0" selected="selected"></option>
                    <option *ngFor="let kind of kindProps" [value]="kind.kindPropId">
                        {{ kind.name }}
                    </option>
                </select>
                <div [hidden]=" curKindPropName != 'select' ">
                    <br/>
                    <textarea formControlName="selectAsTextarea"></textarea>
                </div>
            </div>
            <div class="form_row" [hidden]=" curKindPropName === 'select' ">
                <div class="form_title">значения для св-ва</div>
                <app-dynamic-values formArrayName="values"
                                    [propId]="form.get('propId').value"
                                    [valuesFormArray]="form.get('values')"></app-dynamic-values>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
            <div class="form_row">
                {{ form.value | json }}
            </div>
        </form>
    </div>
</div>
