<div class="page-adm_prop-full" [formGroup]="myGroup">
    <!--    { "propId": 3, "title": "Состояние", "kindPropId": 5, "name": "state", "suffix": "",
    "comment": "", "privateComment": "новое или б/у", "kindPropName": "radio", "propPos": 1,
    "propIsRequire": false, "propIsCanAsFilter": false, "propComment": "",
    "values": { "valueId": 44, "title": "Новое", "pos": 1, "propId": 3 } }-->

<!--    <div class="page-adm_prop-full_title">-->
<!--        {{ myGroup.getRawValue() }}-->
<!--        {{ myGroup.get('privateComment').value ? '(' + myGroup.get('privateComment').value + ')' : '' }}-->
<!--    </div>-->
    <div *ngFor="let a of myGroup.controls">
<!--        <input [formControlName]="a." type="text"/>-->
    </div>

    <!--    <input type="text" formControlName="ymaps"/>-->
    <!--    <div class="page-adm_prop-full_input">-->
    <!--        <input *ngIf=" propFull.get('kindPropName').value === 'input' ||-->
    <!--                    propFull.get('kindPropName').value === 'ymaps' "-->
    <!--               type="text"-->
    <!--               class="form_100"-->
    <!--               formControlName="{{propFull.get('name').value}}"-->
    <!--               [required]="propFull.get('propIsRequire').value"/>-->

    <!--        <input *ngIf=" propFull.get('kindPropName').value === 'input_number' "-->
    <!--               type="number"-->
    <!--               class="form_100"-->
    <!--               formControlName="{{propFull.get('name').value}}"-->
    <!--               [required]="propFull.get('propIsRequire').value"/>-->

    <!--        <input *ngIf=" propFull.get('kindPropName').value === 'input_date' "-->
    <!--               type="date"-->
    <!--               class="form_100"-->
    <!--               [formControlName]="propFull.get('name').value"-->
    <!--               [required]="propFull.get('propIsRequire').value"/>-->

    <!--        <input *ngIf=" propFull.get('kindPropName').value === 'input_datetime' "-->
    <!--               type="datetime-local"-->
    <!--               class="form_100"-->
    <!--               [formControlName]="propFull.get('name').value"-->
    <!--               [required]="propFull.get('propIsRequire').value"/>-->

    <!--        <textarea *ngIf=" propFull.get('kindPropName').value === 'textarea' "-->
    <!--                  [formControlName]="propFull.get('name').value"-->
    <!--                  [required]="propFull.get('propIsRequire').value"></textarea>-->

    <!--        <div *ngIf=" propFull.get('kindPropName').value === 'photo' ">-->
    <!--            &lt;!&ndash; name="files" &ndash;&gt;-->
    <!--            <input type="hidden" [formControlName]="propFull.get('name').value"/>-->
    <!--            &lt;!&ndash;            <input class="form_100"&ndash;&gt;-->
    <!--            &lt;!&ndash;                   type="file"&ndash;&gt;-->
    <!--            &lt;!&ndash;                   accept="image/jpeg,image/png"&ndash;&gt;-->
    <!--            &lt;!&ndash;                   [multiple]="convertToInt(propFull.get('propComment').value) > 1"&ndash;&gt;-->
    <!--            &lt;!&ndash;                   [disabled]="!convertToInt(propFull.get('propComment').value)"&ndash;&gt;-->
    <!--            &lt;!&ndash;                   (change)="addPhoto($event)"/>&ndash;&gt;-->
    <!--        </div>-->

    <!--        <div *ngIf=" propFull.get('kindPropName').value === 'radio' && propFull.get('values').value.length ">-->
    <!--            <label *ngFor="let radio of propFull.get('values').value">-->
    <!--                <input type="radio"-->
    <!--                       [formControlName]="propFull.get('name').value"-->
    <!--                       [required]="propFull.get('propIsRequire').value"-->
    <!--                       [value]="radio.get('valueId').value"/>-->
    <!--                {{ radio.title }}-->
    <!--            </label>-->
    <!--        </div>-->

    <!--        <div *ngIf=" propFull.get('kindPropName').value === 'checkbox' ">-->
    <!--            <label *ngFor="let checkbox of propFull.get('values').value">-->
    <!--                <input type="checkbox"-->
    <!--                       formControlName="{{propFull.get('name').value}}[{{checkbox.propId}}]"-->
    <!--                       [required]="propFull.get('propIsRequire').value"-->
    <!--                       [value]="checkbox.get('valueId').value"/>-->
    <!--                {{ checkbox.title }}-->
    <!--            </label>-->
    <!--        </div>-->

    <!--        <select *ngIf="propFull.get('kindPropName').value === 'select' && propFull.get('values').value.length"-->
    <!--                class="form_100"-->
    <!--                [formControlName]="propFull.get('name').value"-->
    <!--                [required]="propFull.get('propIsRequire').value">-->
    <!--            <option selected="selected" value=""></option>-->
    <!--            <option *ngFor="let option of propFull.get('values').value"-->
    <!--                    [value]="option.valueId">{{ option.title }}</option>-->
    <!--        </select>-->
    <!--    </div>-->
</div>
