<div class="adm-main_box">
    <div class="adm-main_box_title" (click)="$event.target.classList.toggle('sx-active')">
        Категории
    </div>
    <div class="adm-main_box_body">
        <div class="adm-main_box">
            <div class="adm-main_box_title" (click)="$event.target.classList.toggle('sx-active')">
                GET: /api/v1/cats
            </div>
            <div class="adm-main_box_body">
                <form [formGroup]="formGetCats" (ngSubmit)="submitFormGetCats($event)" class="form">
                    <div class="form_row">
                        <label>
                            <input type="checkbox" formControlName="asTree"/> как дерево
                        </label>
                    </div>
                    <div class="form_row">
                        <input type="submit"/>
                    </div>
                    <div class="form_row">
                        {{ formGetCats.value | json }}
                    </div>
                </form>
            </div>
        </div>
        <div class="adm-main_box">
            <div class="adm-main_box_title" (click)="$event.target.classList.toggle('sx-active')">
                GET: /api/v1/cats/:catId
            </div>
            <div class="adm-main_box_body">
                <form [formGroup]="formGetCatsCatId" (ngSubmit)="submitFormGetCatsCatId($event)" class="form">
                    <div class="form_row">
                        <div class="form_title">catId</div>
                        <select formControlName="catId" class="form_100">
                            <option value="0"></option>
                            <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                                {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form_row">
                        <label>
                            <input type="checkbox" formControlName="withPropsOnlyFiltered"/> св-ва как фильтры
                        </label>
                    </div>
                    <div class="form_row">
                        <input type="submit"/>
                    </div>
                    <div class="form_row">
                        {{ formGetCatsCatId.value | json }}
                    </div>
                </form>
            </div>
        </div>
        <div class="adm-main_box">
            <div class="adm-main_box_title" (click)="$event.target.classList.toggle('sx-active')">
                POST: /api/v1/cats
            </div>
            <div class="adm-main_box_body">
                <form [formGroup]="formPostCats" (ngSubmit)="submitFormPostCats($event)" class="form">
                    <div class="form_row">
                        <div class="form_title">название</div>
                        <input formControlName="name" class="form_100" type="text"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">parentId</div>
                        <select formControlName="parentId" class="form_100">
                            <option value="0"></option>
                            <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                                {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form_row">
                        <div class="form_title">позиция</div>
                        <input type="number" formControlName="pos" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">алиас для цены</div>
                        <input type="text" formControlName="priceAlias" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">суффик на цену</div>
                        <input type="text" formControlName="priceSuffix" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">вспомог-ый текст для заголовка</div>
                        <input type="text" formControlName="titleHelp" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">комментарий под заголовок</div>
                        <input type="text" formControlName="titleComment" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <label>
                            <input type="checkbox" formControlName="isAutogenerateTitle"/> isAutogenerateTitle
                        </label>
                    </div>
                    <div class="form_row">
                        <div class="form_title">назначенные свойства</div>
                        <app-block-props [outForm]="formPostCats"></app-block-props>
                    </div>
                    <div class="form_row">
                        <input type="submit"/>
                    </div>
                    <div class="form_row">
                        {{ formPostCats.value | json }}
                    </div>
                </form>
            </div>
        </div>
        <div class="adm-main_box">
            <div class="adm-main_box_title" (click)="$event.target.classList.toggle('sx-active')">
                PUT: /api/v1/cats/:catId
            </div>
            <div class="adm-main_box_body">
                <form [formGroup]="formGetCatForPut" (ngSubmit)="submitFormGetCatDataForPut($event)" class="form">
                    <div class="form_row">
                        <div class="form_title">id категории</div>
                        <select formControlName="catId" class="form_100">
                            <option value="0"></option>
                            <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                                {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form_row">
                        <input type="submit"/>
                    </div>
                </form>
                <form #formPut [formGroup]="formPutCatsCatId" (ngSubmit)="submitFormPutCatsCatId($event)"
                      class="form form-put-put-cats hidden">
                    <input type="hidden" formControlName="catId"/>
                    <div class="form_row">
                        <div class="form_title">название</div>
                        <input type="text" formControlName="name" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">slug</div>
                        <input type="text" formControlName="slug" readonly="readonly" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">id родителя</div>
                        <select formControlName="parentId" class="form_100">
                            <option value="0"></option>
                            <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                                {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form_row">
                        <div class="form_title">позиция</div>
                        <input type="number" formControlName="pos" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">алиас для цены</div>
                        <input type="text" formControlName="priceAlias" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">суффик на цену</div>
                        <input type="text" formControlName="priceSuffix" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">вспомог-ый текст для заголовока</div>
                        <input type="text" formControlName="titleHelp" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <div class="form_title">комментарий под заголовок</div>
                        <input type="text" formControlName="titleComment" class="form_100"/>
                    </div>
                    <div class="form_row">
                        <label>
                            <input type="checkbox" formControlName="isAutogenerateTitle"/> isAutogenerateTitle
                        </label>
                    </div>
                    <div class="form_row">
                        <label>
                            <input type="checkbox" formControlName="isDisabled"/> is_disabled
                        </label>
                    </div>
                    <div class="form_row">
                        <div class="form_title">назначенные свойства</div>
                        <app-block-props [outForm]="formPutCatsCatId"></app-block-props>
                    </div>
                    <div class="form_row">
                        <input type="submit"/>
                    </div>
                    <div class="form_row">
                        {{ formPutCatsCatId.value | json }}
                    </div>
                </form>
            </div>
        </div>
        <div class="adm-main_box">
            <div class="adm-main_box_title" (click)="$event.target.classList.toggle('sx-active')">
                DELETE: /api/v1/cats/:catId
            </div>
            <div class="adm-main_box_body">
                <form [formGroup]="formDeleteCatsCatId" (ngSubmit)="submitFormDeleteCatsCatId($event)" class="form">
                    <div class="form_row">
                        <div class="form_title">catId</div>
                        <select formControlName="catId" class="form_100">
                            <option value="0"></option>
                            <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                                {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form_row">
                        <input type="submit"/>
                    </div>
                    <div class="form_row">
                        {{ formDeleteCatsCatId.value | json }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
