<div class="dynamic-prop" [formGroup]="prop">
    <div class="dynamic-prop_title">
        {{ prop.get('name').value }}
    </div>
    <div class="dynamic-prop_content">
        <div>
            <div class="dynamic-prop_inputs">
                <div>
                    <input formControlName="propComment" type="text"
                           placeholder="комментарий (покажется под свойством)"/>
                </div>
                <div>
                    <input formControlName="propPos" type="number" placeholder="позиция"/>
                </div>
            </div>
            <div class="dynamic-prop_dop">
                <label>
                    <input formControlName="propIsRequire" type="checkbox"/>
                    если выбран, то обязателен
                </label>
                <br/>
                <label>
                    <input formControlName="propIsCanAsFilter" type="checkbox"/>
                    если выбран, то исп-ся как фильтр тоже
                </label>
            </div>
        </div>
        <div>
            <button (click)="removed.emit(index)" type="button">-</button>
        </div>
    </div>
</div>
