<div class="dynamic-prop" [formGroup]="prop">
    <div class="dynamic-prop_title">
        {{ prop.get('title').value }}
        {{ prop.get('privateComment').value ? '(' + prop.get('privateComment').value + ')' : '' }}
    </div>
    <div class="dynamic-prop_content">
        <div>
            <div class="dynamic-prop_inputs">
                <div>
                    <input formControlName="propComment" type="text"
                           placeholder="комментарий (покажется под свойством)"/>
                </div>
                <div>
                    <input formControlName="propPos" type="number" placeholder="позиция"/>
                </div>
            </div>
            <div class="dynamic-prop_dop">
                <div>
                    <label>
                        <input formControlName="propIsRequire" type="checkbox"/>
                        обязателен
                    </label>
                </div>
                <div>
                    <label>
                        <input formControlName="propIsCanAsFilter" type="checkbox"/>
                        как фильтр (тоже)
                    </label>
                </div>
            </div>
        </div>
        <div>
            <button (click)="removed.emit(index)" type="button">-</button>
        </div>
    </div>
</div>
