<footer>
    <div class="container">
        <div class="footer">
            <div class="footer_column">
                <small><a href="mailto:{{emailSupport}}">{{emailSupport}}</a> - служба поддержки</small>
            </div>
            <div class="footer_column">
                <ul>
                    <li>
                        <small><a href="javascript:void(0);" routerLink="/info/about">О сайте</a></small>
                    </li>
                    <!--                    <li>-->
                    <!--                        <small><a href="javascript:void(0);" routerLink="/info/releases">Релизы</a></small>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <small><a href="javascript:void(0);" routerLink="/info/moderation">Модерация</a></small>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="footer_column">
                <small class="text-nowrap">www.altair.uz © {{curYear}}</small>
            </div>
        </div>
    </div>
</footer>
