<div class="page-adm_box">
    <div class="page-adm_box_title" appToggleActive>
        GET: /api/v1/cats
    </div>
    <div class="page-adm_box_body">
        <form [formGroup]="formGetCats" (ngSubmit)="submitFormGetCats($event)" class="form">
            <div class="form_row">
                <label>
                    <input type="checkbox" formControlName="asTree"/> как дерево
                </label>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
            <div class="form_row">
                {{ formGetCats.value | json }}
            </div>
        </form>
    </div>
</div>
