<div class="ad" [class.sx-horiz]=" viewOpt === 'line' ">
    <a class="ad_cover" [routerLink]=" '/ad/test' ">
        <!--<img src="holder.min.js/300x200"/>-->
    </a>
    <div class="ad_data">
        <a class="ad_title" [routerLink]=" '/ad/test' ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, quo!
        </a>
        <div class="ad_price">3 000 сум</div>
        <small class="ad_city">Москва</small>
        <small class="ad_created">Вчера 23:37</small>
    </div>
</div>
