<div class="ad" [class.sx-horiz]=" viewOpt === 'line' ">
    <a class="ad_cover" [routerLink]=" '/ad/' + ad.slug ">
        <img *ngIf="ad.images && ad.images.length"
             [src]="url + '/images/' + ad.images[0].filepath"
             title="{{ ad.title }}"
        />
    </a>
    <div class="ad_data">
        <a class="ad_title" [routerLink]=" '/ad/' + ad.slug " title="{{ ad.title }}">
            {{ ad.title }}
        </a>
        <div class="ad_price text-nowrap"><strong>{{ ad.price | myCurrency }}</strong> сум</div>
        <small class="ad_city">Ташкент</small>
        <small class="ad_created">{{ ad.createdAt | date: "medium" }}</small>
    </div>
</div>
