<h3>GET: /api/v1/kind_props</h3>
<div>
    <form class="form" action="/api/v1/kind_props" method="get">
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>GET: /api/v1/kind_props/:kindPropId</h3>
<div>
    <form class="form" action="/api/v1/kind_props/:kindPropId" method="get">
        <div class="form_row">
            <div class="form_title">kindPropId</div>
            <input type="number" formControlName="kindPropId"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>POST: /api/v1/kind_props</h3>
<div>
    <form class="form sx-reload" action="/api/v1/kind_props" method="post">
        <div class="form_row">
            <div class="form_title">название</div>
            <input type="text" formControlName="name"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>PUT: /api/v1/kind_props/:kindPropId</h3>
<div>
    <form class="form form-put-get-kind_props" action="/api/v1/kind_props/:kindPropId"
          method="get">
        <div class="form_row">
            <div class="form_title">id</div>
            <input type="number" formControlName="kindPropId"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
    <form class="form form-put-put-kind_props sx-reload hidden"
          action="/api/v1/kind_props/:kindPropId" method="put">
        <input type="hidden" formControlName="kindPropId"/>
        <div class="form_row">
            <div class="form_title">название *</div>
            <input type="text" formControlName="name"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>DELETE: /api/v1/kind_props/:kindPropId</h3>
<div>
    <form class="form sx-reload" action="/api/v1/kind_props/:kindPropId" method="delete">
        <div class="form_row">
            <div class="form_title">id</div>
            <input type="number" formControlName="kindPropId"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
