<div class="block-props">
    <div class="block-props_header">
        <div>
            <select #select>
                <option value="0"></option>
                <option *ngFor="let x of props" [value]="x.propId">
                    {{ x.title }}
                    {{ x.privateComment ? ' (' + x.privateComment + ')' : '' }}
                </option>
            </select>
        </div>
        <div>
            <button (click)="addItem()" type="button">+</button>
        </div>
    </div>
    <div class="block-props_body">

        <app-block-prop
            *ngFor="let item of itemsFormArray.controls; let i=index"
            [index]="i"
            [prop]="item"
            (removed)="itemsFormArray.removeAt($event)">
        </app-block-prop>
<!--        <div *ngFor="let x of propsFullFormArray.controls; let i = index" class="block-props_item">-->
<!--            &lt;!&ndash;{{ x.title + (x.privateComment ? ' (' + x.privateComment + ')' : '') }}&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="block-props_item_title">{{x}}</div>&ndash;&gt;-->

<!--            <div class="block-props_item_content">-->
<!--                <div>-->
<!--                    <div class="block-props_item_inputs">-->
<!--                        <div>-->
<!--                            <input formControlName="propComment" type="text"-->
<!--                                   placeholder="комментарий (покажется под свойством)"/>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <input formControlName="propPos" type="number" placeholder="позиция"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="block-props_item_dop">-->
<!--                        <label>-->
<!--                            <input formControlName="propIsRequire" type="checkbox"/> если выбран, то обязателен-->
<!--                        </label>-->
<!--                        <br/>-->
<!--                        <label>-->
<!--                            <input formControlName="propIsCanAsFilter" type="checkbox"/> если выбран, то исп-ся как-->
<!--                            фильтр тоже-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button (click)="remove(i)" type="button">-</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
