<footer>
    <div class="container">
        <div class="footer">
            <div>
                <ul>
                    <li>Lorem ipsum <a href="#">dolor</a> sit amet</li>
                    <li>, consectetur adipisicing elit.</li>
                    <li>sapiente sed, sunt tempora temporibus!</li>
                </ul>
            </div>
            <div>
                <a href="#">Ad amet at debitis dignissimos eaque</a>
                <br/>
                <a href="#">eos fuga ipsa perspiciatis quidem</a>
            </div>
            <div>
                <p> Aperiam doloremque earum eos harum magni.</p>
            </div>
        </div>
    </div>
</footer>
