@import "../../../css_variables";

footer {
    padding: 0.5em 0; // 8px / 16px
}

.footer {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;

    & > * {
        flex-basis: 30%;

        &:not(:first-child) {
            margin-left: 0.5em; // 8px / 16px
        }
    }

    a {
        color: whitesmoke;
    }
}
