@import "../../../css_variables";

.footer {
    display: flex;
    justify-content: space-between;
    color: @color_gray_light;

    & > * {
        flex-basis: 30%;

        &:not(:first-child) {
            margin-left: 0.5em; // 8px / 16px
        }
    }

    a {
        color: @color_gray_light;
    }
}
