<div class="page-profile">
    <div class="page-profile_cols">
        <div class="page-profile_cols_col sx-menu">
            <ul class="page-profile_links">
                <li class="text-eclipse">
                    <a href="javascript:void(0)" routerLink="/profile/info" routerLinkActive="active">
                        Основные данные
                    </a>
                </li>
                <li class="text-eclipse">
                    <a href="javascript:void(0)" routerLink="/profile/ads" routerLinkActive="active">Мои объявления</a>
                </li>
                <!-- <li class="text-eclipse">-->
                <!--    <a href="javascript:void(0)" routerLink="/profile/settings" routerLinkActive="active">Настройки</a>-->
                <!-- </li>-->
                <li class="text-eclipse">
                    <a (click)="logout()" href="javascript:void(0)">Выход</a>
                </li>
            </ul>
        </div>
        <div class="page-profile_cols_col sx-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
