<h3>GET: /api/v1/search/ads</h3>
<div>
    <form class="form" action="/api/v1/search/ads" method="get">
        <div class="form_row">
            <div class="form_title">поисковая фраза</div>
            <input type="text" formControlName="q" required="required"/>
        </div>
        <div class="form_row">
            <div class="form_title">catId</div>
            <div class="target_for_cats_tree"
                 data-formControlName="catId"
                 data-with_props_only_filtered="true"
                 data-without_required="true"></div>
        </div>
        <div class="form_row">
            <div class="form_title">лимит</div>
            <input type="number" formControlName="limit" min="0" value="0"/>
        </div>
        <div class="form_row">
            <div class="form_title">offset</div>
            <input type="number" formControlName="offset" min="0" value="0"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
