<header>
    <div class="container">
        <div class="header">
            <div>
                <div class="header_flexbox">
                    <div>
                        <app-top-menu-cats-tree></app-top-menu-cats-tree>
                    </div>
                    <div>
                        <a class="header_logo" routerLink="/main" title="Сайт бесплатных объявлений">
                            <img src="/assets/images/logo.png" alt="www.altair.uz"/>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <app-search></app-search>
            </div>
            <div>
                <div class="header_flexbox">
                    <div>
                        <a href="javascript:void(0);" routerLink="/adm">Адм.</a>
                    </div>
                    <div>
                        <a *ngIf="!profile" href="javascript:void(0);" routerLink="/login">Вход</a>
                        <a *ngIf="profile" href="javascript:void(0);" routerLink="/profile">Профиль</a>
                    </div>
                    <div>
                        <button routerLink="/ad/create">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
