<div class="adm-main">
    <div class="adm-main_columns">
        <div>
            <ul class="adm-main_list">
                <li>
                    <app-cats (json)="jsonResult = $event"></app-cats>
                </li>
            </ul>

            <!--            <app-users (json)="receiverJson($event)"></app-users>-->
            <!--            <app-ads (json)="receiverJson($event)"></app-ads>-->
            <!--            <app-props (json)="receiverJson($event)"></app-props>-->
            <!--            <app-kind-props (json)="receiverJson($event)"></app-kind-props>-->
            <!--            <app-pages (json)="receiverJson($event)"></app-pages>-->
            <!--            <app-auth (json)="receiverJson($event)"></app-auth>-->
            <!--            <app-search (json)="receiverJson($event)"></app-search>-->
            <!--            <app-profile (json)="receiverJson($event)"></app-profile>-->
        </div>
        <pre class="adm-main_json-result">{{ jsonResult | prettyJson }}</pre>
    </div>
</div>
