<div class="page-adm">
    <div class="page-adm_columns">
        <div>
            <ul class="page-adm_list">
                <li>
                    <div class="page-adm_box">
                        <div class="page-adm_box_title" appToggleActive>
                            Категории
                        </div>
                        <div class="page-adm_box_body">
                            <app-forms-cats-get-cats (json)="jsonResult = $event"></app-forms-cats-get-cats>
                            <app-forms-cats-get-cats-catid (json)="jsonResult = $event"></app-forms-cats-get-cats-catid>
                            <app-forms-cats-post-cats (json)="jsonResult = $event"></app-forms-cats-post-cats>
                            <app-forms-cats-put-cats-catid (json)="jsonResult = $event"></app-forms-cats-put-cats-catid>
                            <app-forms-cats-delete-cats-catid
                                (json)="jsonResult = $event"></app-forms-cats-delete-cats-catid>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <pre class="page-adm_json-result">{{ jsonResult | prettyJson }}</pre>
    </div>
</div>
