<div class="ad-form">
    <form #formTag [formGroup]="form"
          class="form"
          [class.sx-loading]="isLoadingProps"
          [class.sx-cols-as-column]=" mode === 'private' "
          (ngSubmit)="onSubmit($event)">

        <input type="hidden" formControlName="adId"/>
        <input type="hidden" formControlName="createdAt"/>
        <input type="hidden" formControlName="updatedAt"/>

        <div *ngIf=" mode === 'private' " class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">id категории</div>
                <div class="form_cols_col">
                    <select formControlName="catId" (change)="onChangeCat()" class="form_100">
                        <option value="0"></option>
                        <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                            {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngFor="let p of cat?.props" class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    {{ p.title }}
                    <span *ngIf="p.propIsRequire">*</span>
                </div>
                <div class="form_cols_col">
                    <div class="ad-form_dynamic-inputs sx-{{ p.kindPropName }}">
                        <div>
                            <input *ngIf=" p.kindPropName === 'input' "
                                   formControlName="p{{p.propId}}"
                                   class="form_100"
                                   type="text"/>

                            <input *ngIf=" p.kindPropName === 'input_number' "
                                   formControlName="p{{p.propId}}"
                                   type="number"/>

                            <select *ngIf=" p.kindPropName === 'select' "
                                    formControlName="p{{p.propId}}">
                                <option *ngIf="p.values.length" value="">-</option>
                                <option *ngFor="let val of p.values"
                                        [value]="val.valueId">{{ val.title }}</option>
                            </select>

                            <div *ngIf=" p.kindPropName === 'radio' ">
                                <span *ngFor="let val of p.values; let i = index" class="form_radio-chain">
                                    <input formControlName="p{{p.propId}}" id="radio_{{p.propId}}_{{ i }}"
                                           type="radio"
                                           [value]="val.valueId"/>
                                    <label for="radio_{{p.propId}}_{{ i }}">
                                        {{ val.title }}
                                    </label>
                                </span>
                            </div>

                            <textarea *ngIf=" p.kindPropName === 'textarea' "
                                      formControlName="{{p.propId}}"></textarea>

                            <div *ngIf=" p.kindPropName === 'photo' ">
                                <input type="hidden" formControlName="files"/>
                                <input type="hidden" formControlName="p{{p.propId}}"/>
                                <input type="file"
                                       accept="image/jpeg,image/png"
                                       [multiple]="convertToInt(p.propComment)"
                                       (change)="addPhoto($event, 'p'+p.propId)"/>
                            </div>

                            <div *ngIf=" p.kindPropName === 'ymaps' ">
                                <input formControlName="p{{p.propId}}" class="form_100" type="text"/>
                                <div class="ad-form_map">
                                    <span class="text-mute">Кликнете по карте, чтоб определить координаты</span>
                                    <div [id]="idMap"></div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="p.suffix">
                            {{ p.suffix }}
                        </div>
                        <div *ngIf=" p.kindPropName === 'photo' ">
                            макс. {{ convertToInt(p.propComment) }} файлов
                        </div>
                    </div>

                    <p *ngIf="p.propComment && p.kindPropName !== 'photo' "
                       class="form_comment text-mute">{{ p.propComment }}</p>
                    <p *ngIf="p.comment" class="form_comment text-mute">{{ p.comment }}</p>

                    <div *ngIf="p.kindPropName === 'photo' && ad?.images?.length" class="form_thumbnails">
                        <div *ngFor="let img of ad.images" class="form_thumbnails_thumbnail">
                            <div class="form_thumbnails_thumbnail_close" title="удалить"
                                 (click)="removePhoto($event, 'p'+p.propId)"></div>
                            <img src="{{ url }}/api/v1/resample/0/48/{{ img.filepath }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!cat || cat && !cat.isAutogenerateTitle" class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    Название объявления
                    <span *ngIf="cat && !cat.isAutogenerateTitle">*</span>
                </div>
                <div class="form_cols_col">
                    <input formControlName="title" class="form_100" type="text"/>
                    <p *ngIf="cat && cat.titleComment" class="form_comment text-mute">{{ cat.titleComment }}</p>
                </div>
            </div>
        </div>
        <div *ngIf=" mode === 'private' " class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">Slug</div>
                <div class="form_cols_col">
                    <input formControlName="slug" readonly="readonly" class="form_100" type="text"/>
                </div>
            </div>
        </div>
        <div *ngIf=" mode === 'private' " class="form_row">
            <div class="form_row">
                <div class="form_cols">
                    <div class="form_cols_col">
                        id пользователя
                    </div>
                    <div class="form_cols_col">
                        <input type="number" formControlName="userId" class="form_100"/>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf=" mode === 'private' " class="form_row">
            <div class="form_cols">
                <div class="form_cols_col"></div>
                <div class="form_cols_col">
                    <label>
                        <input type="checkbox" formControlName="isDisabled" value="true"/>
                        если выбран, то выключен
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf=" mode === 'private' " class="form_row">
            <div class="form_cols">
                <div class="form_cols_col"></div>
                <div class="form_cols_col">
                    <label>
                        <input type="checkbox" formControlName="isApproved" value="true"/>
                        если выбран, то заапрувлен
                    </label>
                </div>
            </div>
        </div>

        <div class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    Описание объявления *
                </div>
                <div class="form_cols_col">
                    <textarea formControlName="description"></textarea>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    {{ cat && cat.priceAlias || 'Цена' }}
                </div>
                <div class="form_cols_col">
                    <input formControlName="price" type="number" min="0"/>
                    сум {{ cat && cat.priceSuffix }}
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    Видео c YouTube
                </div>
                <div class="form_cols_col">
                    <input formControlName="youtube" type="text" class="form_100" placeholder="н-р: {{ youTubeLink }}"/>
                </div>
            </div>
        </div>
        <div class="form_row align-right">
            <input type="submit" [disabled]="form.invalid || isSendData" [value]=" ad ? 'Изменить':'Создать' "/>
        </div>
        <div *ngIf="!isProdMode" class="form_row">
            {{ form.value | json }}
        </div>
    </form>
</div>
