<app-breadcrumbs></app-breadcrumbs>
<div class="page-cat">
    <app-not-found *ngIf="isPathNotFound"></app-not-found>
    <app-ad *ngFor="let ad of ads" [ad]="ad"></app-ad>
    <ng-container *ngIf="isPathRootCat">
        <h1>Категории:</h1>
        <div #masonry class="page-cat_bricks">
            <div *ngFor="let cat of pointerOnCatTree?.childes" class="page-cat_brick">
                <h2>
                    <a class="text-eclipse" href="javascript:void();" [routerLink]="'/cat/'+cat.slug">
                        {{ cat.name }}
                    </a>
                </h2>
                <ul *ngIf="cat.childes.length">
                    <li *ngFor="let subCat of cat.childes">
                        <h3>
                            <a class="text-eclipse" href="javascript:void();"
                               [routerLink]="'/cat/'+cat.slug+'/'+subCat.slug">
                                {{ subCat.name }}
                            </a>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
    <div #preloader [hidden]="isLoadAll" [class.not-visible]="!isLoading">
        <app-preloader></app-preloader>
    </div>
</div>
