<h3>GET: /api/v1/users</h3>
<div>
    <form class="form form-get-users" action="/api/v1/users" method="get">
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>GET: /api/v1/users/:userId</h3>
<div>
    <form class="form" action="/api/v1/users/:userId" method="get">
        <div class="form_row">
            <div class="form_title">userId</div>
            <input type="number" formControlName="userId"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>POST: /api/v1/users</h3>
<div>
    <form class="form" action="/api/v1/users" method="post" enctype="multipart/form-data">
        <div class="form_row">
            <div class="form_title">avatar</div>
            <input type="file" formControlName="files"/>
        </div>
        <div class="form_row">
            <div class="form_title">name</div>
            <input type="text" formControlName="name"/>
        </div>
        <div class="form_row">
            <div class="form_title">email</div>
            <input type="email" formControlName="email"/>
        </div>
        <div class="form_row">
            <div class="form_title">password</div>
            <input type="text" formControlName="password"/>
        </div>
        <div class="form_row">
            <div class="form_title">passwordConfirm</div>
            <input type="text" formControlName="passwordConfirm"/>
        </div>
        <div class="form_row">
            <label>
                <input type="checkbox" formControlName="isEmailConfirmed" value="true"/> is_email_confirmed
            </label>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>PUT: /api/v1/users</h3>
<div>
    <form class="form form-put-get-users" action="/api/v1/users/:userId" method="get">
        <div class="form_row">
            <div class="form_title">userId</div>
            <input type="number" formControlName="userId"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
    <form class="form form-put-put-users hidden"
          action="/api/v1/users/:userId"
          method="put"
          enctype="multipart/form-data">
        <input type="hidden" formControlName="userId"/>

        <div class="form_row">
            <div class="form_title">avatar</div>
            <input type="file" formControlName="files"/>
            <div class="form__files"></div>
        </div>
        <div class="form_row">
            <div class="form_title">name</div>
            <input type="text" formControlName="name"/>
        </div>
        <div class="form_row">
            <div class="form_title">email</div>
            <input type="email" formControlName="email" readonly="readonly"/>
        </div>
        <div class="form_row">
            <div class="form_title">password_old</div>
            <input type="text" formControlName="passwordOld"/>
        </div>
        <div class="form_row">
            <div class="form_title">password</div>
            <input type="text" formControlName="password"/>
        </div>
        <div class="form_row">
            <div class="form_title">passwordConfirm</div>
            <input type="text" formControlName="passwordConfirm"/>
        </div>
        <div class="form_row">
            <label>
                <input type="checkbox" formControlName="isEmailConfirmed" value="true"/> is_email_confirmed
            </label>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>DELETE: /api/v1/users/:userId</h3>
<div>
    <form class="form" action="/api/v1/users/:userId" method="delete">
        <div class="form_row">
            <div class="form_title">userId</div>
            <input type="number" formControlName="userId"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
