<div class="phone">
    <div class="phone_title"><strong>Номера телефонов:</strong></div>
    <div class="phone_items">
        <div *ngFor="let phone of phones; let i = index" class="phone_item">
            <div>+{{ phone.number }}</div>
            <div class="phone_item_close" (click)="delPhone(i)" title="удалить">&times;</div>
        </div>
    </div>
    <div *ngIf="isOpenForms" class="phone_forms">
        <div class="phone_forms_create">
            <form [formGroup]="formCreate" class="form" (ngSubmit)="onSubmitFormCreate($event)">
                <div class="form_row">
                    <div class="form_cols">
                        <div class="form_cols_col">
                            <input formControlName="number" type="text" placeholder="номер телефона"/>
                        </div>
                        <div class="form_cols_col">
                            <input formControlName="submit" type="submit"/>
                        </div>
                    </div>
                    <div class="form_cols">
                        <div class="form_cols_col">
                            <small class="text-mute">пример: 998901234567</small>
                        </div>
                    </div>
                    <div *ngIf="timeLockInputPhone" class="form_cols">
                        <div class="form_cols_col">
                            <small class="text-mute">время разблокировки: {{timeLockInputPhone}} сек.</small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="isOpenFormCheck" class="phone_forms_check">
            <form [formGroup]="formCheck" class="form " (ngSubmit)="onSubmitFormCheck($event)">
                <div class="form_row">
                    <div class="form_cols">
                        <div class="form_cols_col">
                            <input formControlName="code" type="text" placeholder="код подтверждения"/>
                        </div>
                        <div class="form_cols_col">
                            <input type="submit" value="Отправить"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="!isOpenForms" class="phone_add">
        <a href="javascript:void(0);" (click)="isOpenForms = true">+ добавить</a>
    </div>
    <div *ngIf="isOpenForms" class="phone_close">
        <a href="javascript:void(0);" (click)="isOpenForms = false">скрыть</a>
    </div>
</div>
