<div class="page-main">
    <div>
        <h3 *ngIf="lastChainBC.length" class="page-main_last-chain-cats">
            <ng-container *ngFor="let bc of lastChainBC; let i = index">
                <a [routerLink]="bc.url">{{ bc.name }}</a>
                <ng-container *ngIf="i < lastChainBC.length-1">/</ng-container>
                <ng-container *ngIf="i === lastChainBC.length-1">:</ng-container>
            </ng-container>
        </h3>

        <ng-container *ngIf="isLoading">
            <br/>
            <app-preloader></app-preloader>
        </ng-container>

        <app-carousel *ngIf="lastAdsFull.length">
            <div *ngFor="let ad of lastAdsFull">
                <app-ad [ad]="ad"></app-ad>
            </div>
        </app-carousel>
    </div>
</div>
