<div class="page-main">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Amet, architecto asperiores aspernatur
        autem, consequuntur
        doloremque doloribus eius eos minus, <strong>nesciunt</strong> nihil quis rerum? Cumque debitis eaque quis
        recusandae saepe.
        Voluptatum.</p>

    <div>
        <app-ad *ngFor="let ad of ads" [ad]="ad"></app-ad>
    </div>

    <h2>Lorem ipsum dolor sit.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid blanditiis debitis ducimus inventore
        iure magnam molestiae, nulla sapiente totam vero voluptates? Accusamus aliquid facere hic placeat quaerat tenetur
        voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam culpa cum dolorem eveniet exercitationem
        necessitatibus quam repudiandae tempore voluptates! Fugiat inventore molestiae sapiente velit.</p>

    <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci consequatur culpa deserunt dolor facere
        id iusto, laboriosam laborum molestiae nisi obcaecati quam quibusdam, quisquam quo reiciendis velit voluptatem
        voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, distinctio natus nisi possimus quisquam
        repellendus repudiandae sunt totam veniam voluptates.</p>
</div>
