<div class="page-adm_box">
    <div class="page-adm_box_title" appToggleActive>
        PUT: /api/v1/cats/:catId
    </div>
    <div class="page-adm_box_body">
        <form [formGroup]="formGet" (ngSubmit)="submitFormGetCatDataForPut($event)" class="form">
            <div class="form_row">
                <div class="form_title">id категории</div>
                <select formControlName="catId" class="form_100">
                    <option value="0"></option>
                    <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                        {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                    </option>
                </select>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
        </form>
        <form #formPutEl [formGroup]="formPut" (ngSubmit)="submitFormPutCatsCatId($event)"
              class="form hidden">

            <input type="hidden" formControlName="catId"/>

            <div class="form_row">
                <div class="form_title">название</div>
                <input type="text" formControlName="name" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">slug</div>
                <input type="text" formControlName="slug" readonly="readonly" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">id родителя</div>
                <select formControlName="parentId" class="form_100">
                    <option value="0"></option>
                    <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                        {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                    </option>
                </select>
            </div>
            <div class="form_row">
                <div class="form_title">позиция</div>
                <input type="number" formControlName="pos" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">алиас для цены</div>
                <input type="text" formControlName="priceAlias" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">суффик на цену</div>
                <input type="text" formControlName="priceSuffix" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">вспомог-ый текст для заголовока</div>
                <input type="text" formControlName="titleHelp" class="form_100"/>
            </div>
            <div class="form_row">
                <div class="form_title">комментарий под заголовок</div>
                <input type="text" formControlName="titleComment" class="form_100"/>
            </div>
            <div class="form_row">
                <label>
                    <input type="checkbox" formControlName="isAutogenerateTitle"/> isAutogenerateTitle
                </label>
            </div>
            <div class="form_row">
                <label>
                    <input type="checkbox" formControlName="isDisabled"/> is_disabled
                </label>
            </div>
            <div class="form_row">
                <div class="form_title">назначенные свойства</div>
                <app-dynamic-props formArrayName="props"
                                   [propsFormArray]="formPut.get('props')"></app-dynamic-props>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
            <div class="form_row">
                {{ formPut.value | json }}
            </div>
        </form>
    </div>
</div>
