<div class="page-search">
    <div *ngIf="!q" class="page-search_box">
        <div class="text-mute">укажите в фразу для поиска</div>
    </div>
    <app-preloader *ngIf="isLoading" [height]="10"></app-preloader>
    <div *ngIf="q && !ads.length && !isLoading" class="page-search_box">
        <div *ngIf="q && !ads.length && !isLoading" class="text-mute">по данному запросу ни чего не найдено</div>
    </div>
    <ng-container *ngIf="ads.length">
        <app-ad *ngFor="let ad of ads" [ad]="ad"></app-ad>
    </ng-container>
</div>
