@import "../../../css_variables";

.page-login {
    margin-top: 1em; // 16px / 16px

    &_box {
        width: calc(~'@{maxWidth}/2');
        margin: 0 auto;
    }

    &_register {
        border-top: whitesmoke solid @1px;
        margin-top: 2em;
    }
}
