<app-breadcrumbs></app-breadcrumbs>
<div *ngIf="ad" class="page-ad">
    <h1>{{ ad.title }}</h1>
    <div class="page-ad_photo-and-info">
        <div class="page-ad_photo-and-info_photo">
            <img *ngIf="ad.images && ad.images.length" [src]="url + '/images/' + ad.images[0].filepath"/>
        </div>
        <div class="page-ad_photo-and-info_info">
            <ul>
                <li *ngFor="let detail of ad.details">
                    <!--<span class="text-mute">{{ prop.name  detail.propertyName }}:</span> {{ detail.value }}-->
<!--                    <div *ngFor="let prop of settingsService.props">-->
<!--                        <div *ngIf="prop.name === detail.propertyName">-->
<!--&lt;!&ndash;                            <div *ngFor="let val of prop.values" ></div>&ndash;&gt;-->
<!--                            <span class="text-mute">{{ prop.title }}:</span> {{ detail.value }}-->
<!--                        </div>-->
<!--                    </div>-->
                </li>
            </ul>
        </div>
    </div>
    ...
</div>
