<div class="page-about">
    <h1>О сайте</h1>
    <hr class="hr">
    <p><strong>Altair</strong> — это сайт бесплатных объявлений.</p>
    <p>Каждый день люди заходят на портал, чтобы продать или купить практически всё, что
        пожелают: от булавки до эксклюзивных автомобилей или недвижимости за рубежом. Объявления размещают частные лица,
        предприниматели и компании, поэтому на Altair можно купить как бывшие в употреблении вещи, так и абсолютно новые
        товары.</p>
    <p><strong>Миссия Altair</strong> — соединить общества продавцов и покупателей по всему Узбекистану, изменив их
        повседневную жизнь к
        лучшему.</p>
</div>
