<div class="page-adm_box">
    <div class="page-adm_box_title" appToggleActive>
        GET: /api/v1/cats/:catId
    </div>
    <div class="page-adm_box_body">
        <form [formGroup]="formGetCatsCatId" (ngSubmit)="submitFormGetCatsCatId($event)" class="form">
            <div class="form_row">
                <div class="form_title">catId</div>
                <select formControlName="catId" class="form_100">
                    <option value="0"></option>
                    <option *ngFor="let cat of catTreeOneLevel" [value]="cat.catId">
                        {{ '|----'.repeat(cat.deep) }} {{ cat.name }}
                    </option>
                </select>
            </div>
            <div class="form_row">
                <label>
                    <input type="checkbox" formControlName="withPropsOnlyFiltered"/> св-ва как фильтры
                </label>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
            <div class="form_row">
                {{ formGetCatsCatId.value | json }}
            </div>
        </form>
    </div>
</div>
