<div class="page-main">
    <div>
        <app-preloader *ngIf="isLoading" [height]="3"></app-preloader>

        <h3 *ngIf="lastChainBC.length" class="page-main_last-chain-cats">
            <ng-container *ngFor="let bc of lastChainBC; let i = index">
                <a routerLink="{{bc.url}}">{{ bc.name }}</a>
                <ng-container *ngIf="i < lastChainBC.length-1">/</ng-container>
                <ng-container *ngIf="i === lastChainBC.length-1">:</ng-container>
            </ng-container>
        </h3>

        <app-carousel>
            <ng-container *ngIf="!lastAdsFull.length">
                <div *ngFor="let ad of [1,2,3,4]" class="carousel_cell sx-empty">
                    <app-ad></app-ad>
                </div>
            </ng-container>
            <ng-container *ngIf="lastAdsFull.length">
                <div *ngFor="let ad of lastAdsFull" class="carousel_cell">
                    <app-ad [ad]="ad"></app-ad>
                </div>
            </ng-container>
        </app-carousel>
    </div>
</div>
