<div class="page-add">
    <h1>Добавить объявление</h1>

    <h2>Каталог</h2>

    <div class="page-add_cats">
        <ul *ngFor="let subCat of aCols" class="page-add_cats_col">
            <li *ngFor="let cat of subCat.childes" (click)="showSubCat($event, cat)">{{ cat.name }}</li>
        </ul>
    </div>

    <h2>Параметры</h2>
    <div class="page-add_props">
        <div class="page-add_props_dynamic">

        </div>
        <div class="page-add_props_static">

        </div>
    </div>
</div>
