<div class="page-add">
    <h1>Добавить объявление</h1>

    <h2>Каталог:</h2>
    <div #catCols class="page-add_cats">
        <ul *ngFor="let subCat of aCols" class="page-add_cats_col">
            <li *ngFor="let cat of subCat.childes" class="page-add_cats_col_{{ cat.catId }}" (click)="showSubCat($event, cat)">{{ cat.name }}</li>
        </ul>
    </div>

    <h2>Параметры:</h2>
    <form [formGroup]="form"
          class="form"
          [class.sx-loading]="isLoadingProps"
          (ngSubmit)="onSubmit($event)"
          enctype="multipart/form-data">
        <input type="hidden" formControlName="catId" value="0"/>
        <div *ngFor="let propFull of aDynamicPropsFull" class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    {{ propFull.title }}
                    <span *ngIf="propFull.propIsRequire">*</span>
                </div>
                <div class="form_cols_col">
                    <div class="page-add_dynamic-inputs sx-{{ propFull.kindPropName }}">
                        <div>
                            <input *ngIf=" propFull.kindPropName === 'input' "
                                   formControlName="{{propFull.name}}"
                                   class="form_100"
                                   type="text"/>
                            <input *ngIf=" propFull.kindPropName === 'input_number' "
                                   formControlName="{{propFull.name}}"
                                   type="number"/>
                            <select *ngIf=" propFull.kindPropName === 'select' "
                                    formControlName="{{propFull.name}}">
                                <option *ngIf="propFull.values.length" value="">-</option>
                                <option *ngFor="let val of propFull.values"
                                        [value]="val.valueId">{{ val.title }}</option>
                            </select>
                            <div *ngIf=" propFull.kindPropName === 'radio' ">
                                <span *ngFor="let val of propFull.values; let i = index" class="form_radio-chain">
                                    <input formControlName="{{propFull.name}}" id="{{propFull.name}}_{{ i }}"
                                           type="radio"
                                           [value]="val.valueId"/>
                                    <label for="{{propFull.name}}_{{ i }}">
                                        {{ val.title }}
                                    </label>
                                </span>
                            </div>
                            <textarea *ngIf=" propFull.kindPropName === 'textarea' "
                                      formControlName="{{propFull.name}}"></textarea>
                            <div *ngIf=" propFull.kindPropName === 'photo' ">
                                <!-- тут именно name, иначе Ангуляр пытается воспринять как строку -->
                                <input type="hidden" formControlName="files"/>
                                <input type="file"
                                       accept="image/jpeg,image/png"
                                       [multiple]=" propFull.privateComment !== '0' "
                                       (change)="addPhoto($event)"
                                />
                            </div>
                            <div *ngIf=" propFull.kindPropName === 'ymaps' ">
                                <input formControlName="{{propFull.kindPropName}}"
                                       class="form_100"
                                       type="text"/>
                            </div>
                        </div>
                        <div *ngIf="propFull.suffix">
                            {{ propFull.suffix }}
                        </div>
                    </div>
                    <p *ngIf="propFull.propComment && propFull.kindPropName !== 'photo' "
                       class="form_comment text-mute">{{ propFull.propComment }}</p>
                    <p *ngIf="propFull.comment" class="form_comment text-mute">{{ propFull.comment }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="!leaf || leaf && !leaf.isAutogenerateTitle" class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    Название объявления
                    <span *ngIf="leaf && !leaf.isAutogenerateTitle">*</span>
                </div>
                <div class="form_cols_col">
                    <input formControlName="title" class="form_100" type="text"/>
                    <p *ngIf="leaf && leaf.titleComment" class="form_comment text-mute">{{ leaf.titleComment }}</p>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    Описание объявления *
                </div>
                <div class="form_cols_col">
                    <textarea formControlName="description"></textarea>
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    {{ leaf && leaf.priceAlias || 'Цена' }}
                </div>
                <div class="form_cols_col">
                    <input formControlName="price"
                           type="number"
                           min="0"/>
                    сум {{ leaf && leaf.priceSuffix }}
                </div>
            </div>
        </div>
        <div class="form_row">
            <div class="form_cols">
                <div class="form_cols_col">
                    Видео c YouTube
                </div>
                <div class="form_cols_col">
                    <input formControlName="youtube" type="text" class="form_100"
                           placeholder="н-р: https://www.youtube.com/watch?v=zU-LndSG5RE"/>
                </div>
            </div>
        </div>
        <div class="form_row align-right">
            <input type="submit" [disabled]="form.invalid" value="Создать"/>
            <input type="submit" [disabled]="form.invalid" value="Изменить"/>
            <!--<input type="submit" value="Создать"/>-->
        </div>
    </form>
</div>
