<div class="page-adm_box">
    <div class="page-adm_box_title" appToggleActive>
        PUT: /api/v1/user
    </div>
    <div class="page-adm_box_body">
        <div>
            <form [formGroup]="formGet" (ngSubmit)="submitFormGetUsersUserId($event)" class="form">
                <div class="form_row">
                    <div class="form_title">userId</div>
                    <input type="number" formControlName="userId" class="form_100"/>
                </div>
                <div class="form_row">
                    <input type="submit"/>
                </div>
            </form>
            <form #formPutTag [formGroup]="formPut"
                  (ngSubmit)="submitFormPutUsersUserId($event)" class="form hidden">
                <input type="hidden" formControlName="userId"/>

                <div class="form_row">
                    <div class="form_title">avatar</div>
                    <input type="hidden" formControlName="files"/>
                    <input class="form_100" type="file" accept="image/jpeg,image/png"
                           (change)="addPhoto($event)"/>

                    <div *ngIf="formPut.get('avatar').value" class="form_thumbnails">
                        <div class="form_thumbnails_thumbnail">
                            <div (click)="removePhoto($event)" class="form_thumbnails_thumbnail_close"></div>
                            <img [src]="url + '/api/v1/resample/0/100/' + formPut.get('avatar').value"/>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_title">name</div>
                    <input type="text" formControlName="name" class="form_100"/>
                </div>
                <div class="form_row">
                    <div class="form_title">email</div>
                    <input type="email" formControlName="email" class="form_100" readonly="readonly"/>
                </div>
                <div class="form_row">
                    <div class="form_title">password</div>
                    <input type="text" formControlName="password" class="form_100"/>
                </div>
                <div class="form_row">
                    <div class="form_title">passwordConfirm</div>
                    <input type="text" formControlName="passwordConfirm" class="form_100"/>
                </div>
                <div class="form_row">
                    <label>
                        <input type="checkbox" formControlName="isEmailConfirmed" value="true"/> is_email_confirmed
                    </label>
                </div>
                <div class="form_row">
                    <input type="submit"/>
                </div>
                <div class="form_row">
                    {{ formPut.value | json }}
                </div>
            </form>
        </div>
    </div>
</div>
