<div class="page-recover-check-hash">
    <div class="page-recover-check-hash_box">
        <h1>Изменение пароля</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="form">
            <input formControlName="hash" type="hidden"/>

            <div class="form_row">
                <div class="form_title">Новый пароль:</div>
                <input formControlName="password" class="form_100" type="text"/>
            </div>
            <div class="form_row form_100">
                <div class="form_title">Новый пароль (повтор):</div>
                <input formControlName="passwordConfirm" class="form_100" type="text"/>
            </div>
            <div class="form_row sx-submit align-right">
                <input type="submit" [disabled]="form.invalid" value="Изменить"/>
            </div>
        </form>
    </div>
</div>
