<div class="ad"
     [class.sx-horiz]=" viewOpt === 'line' "
     [class.sx-empty]="!ad">
    <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="ad && !ad.isDisabled && ad.isApproved">
            <a [routerLink]="['/ad/', ad.slug]" class="ad_cover">
                <ng-container *ngTemplateOutlet="img"></ng-container>
            </a>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <a class="ad_cover">
                <ng-container *ngTemplateOutlet="img"></ng-container>
            </a>
        </ng-container>
    </ng-container>

    <div class="ad_data">
        <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="ad && !ad.isDisabled && ad.isApproved">
                <a class="ad_title" title="{{ ad.title }}" [routerLink]="['/ad/', ad.slug]">
                    {{ ad.title }}
                </a>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <a class="ad_title" title="{{ ad?.title }}">
                    {{ ad?.title }}
                </a>
            </ng-container>
        </ng-container>

        <div class="ad_price text-nowrap">
            <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="ad && ad.price > 0">
                    <strong>{{ ad.price | myCurrency }}</strong> сум
                </ng-container>
                <ng-container *ngSwitchCase="ad && ad.price === 0">
                    <strong>Бесплатно</strong>
                </ng-container>
                <ng-container *ngSwitchDefault>&nbsp;</ng-container>
            </ng-container>
        </div>
        <small class="ad_city">{{ ad ? ad.cityName : '&nbsp;' }}</small>
        <small class="ad_created">{{ ad ? (ad.createdAt | date: "medium") : '&nbsp;' }}</small>

        <div *ngIf="inProfile && ad">
            <small class="ad_status">
                Статус:
                <strong *ngIf="!ad.isDisabled && !ad.isApproved">на модерации</strong>
                <strong *ngIf="ad.isDisabled && !ad.isApproved">выключено</strong>
                <strong *ngIf="!ad.isDisabled && ad.isApproved">открыто</strong>
            </small>
            <div class="align-right">
                <a [routerLink]="['/ad/edit/', ad.adId]" href="javascript:void(0);">Изменить</a>
            </div>
        </div>
    </div>
</div>
<ng-template #img>
    <img *ngIf="ad && ad.images && ad.images.length"
         src="/api/v1/resample/224/0/{{ad.images[0].filepath}}"
         alt="{{ ad.title }}"
         title="{{ ad.title }}"/>
</ng-template>
