<div class="page-adm_box">
    <div class="page-adm_box_title" appToggleActive>
        PUT: /api/v1/kind_props/:kindPropId
    </div>
    <div class="page-adm_box_body">
        <form [formGroup]="formGet" (ngSubmit)="submitFormGet($event)" class="form">
            <div class="form_row">
                <div class="form_title">id вида св-ва</div>
                <input type="number" formControlName="kindPropId" class="form_100"/>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
        </form>
        <form #formPut [formGroup]="form" (ngSubmit)="submitFormPut($event)" class="form hidden">
            <input type="hidden" formControlName="kindPropId"/>

            <div class="form_row">
                <div class="form_title">название</div>
                <input type="text" formControlName="name" class="form_100"/>
            </div>
            <div class="form_row">
                <input type="submit"/>
            </div>
            <div class="form_row">
                {{ form.value | json }}
            </div>
        </form>
    </div>
</div>
