<div class="page-check-email-through-hash">
    <div *ngIf="isLoading" class="page-check-email-through-hash_preloader">
        <app-preloader></app-preloader>
    </div>
    <div *ngIf="result === 1">
        <h1>Е-мэйл успешно подтвержден</h1>
        <p>Пройдите в свою учетную запись, используя данные, которые вы указали ранее.</p>
    </div>
    <div *ngIf="result === 0">
        <h1>Проверка закончилась неудачей</h1>
        <p>Перепроверьте пожалуйста данные, которые были высланы вам на эл. почту.</p>
    </div>
</div>
