<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li>
        <a href="/cat/kategoriia1">Категория1</a>
        <ul>
            <li>
                <a href="/cat/kategoriia1-1">Категория1-1</a>
                <ul>
                    <li><a href="/cat/kategoriia1-1-1">Категория1-1-1</a></li>
                    <li><a href="/cat/kategoriia1-1-2">Категория1-1-2</a></li>
                    <li><a href="/cat/kategoriia1-1-3">Категория1-1-3</a></li>
                </ul>
            </li>
            <li>
                <a href="/cat/kategoriia1-2">Категория1-2</a>
                <ul>
                    <li><a href="/cat/kategoriia1-2-1">Категория1-2-1</a></li>
                </ul>
            </li>
            <li><a href="/cat/kategoriia1-3">Категория1-3</a></li>
        </ul>
    </li>
    <li>
        <a href="/cat/kategoriia2">Категория2</a>
        <ul>
            <li><a href="/cat/kategoriia2-1">Категория2-1</a></li>
            <li>
                <a href="/cat/kategoriia2-2">Категория2-2</a>
                <ul>
                    <li><a href="/cat/kategoriia2-2-1">Категория2-2-1</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/cat/kategoriia3">Категория3</a></li>
</ul>

</body>
</html>
