@import "../../../css_variables";

.nav {
    position: relative;
    z-index: 10;

    &.sx-active {
        .nav_tree > ul {
            display: block;
        }
    }

    &_emblem {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em; // 32px / 16px
        height: 2em; // 32px / 16px
        border-radius: 0.125em; // 2px / 16px
        cursor: pointer;
        border: lightgray solid @1px; // 1px / 16px
        background: white url("@{imgPath}/cat.svg") center center no-repeat;
    }

    &_tree {
        position: absolute;
        top: 2em; // 32px / 16px
        left: 0;
    }

    @width: 14em; // 240px / 16px
    @box_shadow: 0.4em; // 6px / 16px
    ul {
        display: none;
        box-sizing: border-box;
        width: @width;
        margin: 0;
        padding: 0;
        list-style: none;
        border: lightgray solid @1px; // 1px / 16px
        background-color: white;
        box-shadow: @box_shadow @box_shadow @box_shadow rgba(0, 0, 0, 0.1);

        & > li {
            position: relative;

            &:hover {
                background-color: floralwhite;
            }

            & + li {
                border-top: whitesmoke solid @1px; // 1px / 16px
            }

            & > a {
                display: block;
                padding: 0.25em 1em; // 4px 16px / 16px

                &.sx-has-childes {
                    cursor: default;

                    &:after {
                        position: absolute;
                        content: '>';
                        right: 0.5em; // 8px / 16px
                        font-weight: bold;
                        font-family: monospace;
                    }
                }
            }

            & > a.sx-active + ul {
                display: block;
            }

            & > ul {
                position: absolute;
                top: 0;
                right: -@width;
            }
        }
    }
}
