<div #nav class="nav" [class.sx-active]="isActive">
    <div (click)="toggleMenu()" class="nav_emblem"></div>
    <ul class="nav_tree">
        <li>
            <a class="text-eclipse" href="javascript:void(0);">Lorem ipsum dolor.</a>
        </li>
        <li>
            <a (click)="onClickA($event)" class="text-eclipse sx-has-childs" href="javascript:void(0);">
                Lorem ipsum dolor sit.
            </a>
            <ul>
                <li>
                    <a class="text-eclipse" href="javascript:void(0);">Lorem ipsum dolor.</a>
                </li>
                <li>
                    <a (click)="onClickA($event)" class="text-eclipse sx-has-childs" href="javascript:void(0);">
                        Lorem ipsum dolor sit.
                    </a>
                    <ul>
                        <li>
                            <a class="text-eclipse" href="javascript:void(0);">Lorem ipsum dolor.</a>
                        </li>
                        <li>
                            <a class="text-eclipse" href="javascript:void(0);">Lorem ipsum dolor sit.</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="text-eclipse" href="javascript:void(0);">Lorem ipsum.</a>
        </li>
        <li>
            <a class="text-eclipse" href="javascript:void(0);">Lorem ipsum dolor.</a>
        </li>
    </ul>
</div>
