<h3>GET: /api/v1/auth/logout</h3>
<div>
    <form class="form form-get-auth-logout" action="/api/v1/auth/logout" method="get">
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>POST: /api/v1/auth/login</h3>
<div>
    <form class="form" action="/api/v1/auth/login" method="post">
        <div class="form_row">
            <div class="form_title">email</div>
            <input type="text" formControlName="email" value="test@test.te"/>
        </div>
        <div class="form_row">
            <div class="form_title">пароль</div>
            <input type="text" formControlName="password" value="test123"/>
        </div>
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
<h3>POST: /api/v1/auth/refresh-tokens</h3>
<div>
    <form class="form form-post-auth-refresh-tokens" action="/api/v1/auth/refresh-tokens"
          method="post">
        <div class="form_row">
            <input type="submit"/>
        </div>
    </form>
</div>
