<div class="dynamic-prop" [formGroup]="propAssigned">
    <input type="hidden" formControlName="propID"/>

    <div class="dynamic-prop_title">
        {{ propAssigned.get('title').value }}
    </div>
    <div class="dynamic-prop_content">
        <div>
            <div class="dynamic-prop_inputs">
                <div>
                    <input formControlName="comment" type="text" placeholder="комментарий (покажется под свойством)"/>
                </div>
                <div>
                    <input formControlName="pos" type="number" placeholder="позиция"/>
                </div>
            </div>
            <div class="dynamic-prop_dop">
                <div>
                    <label>
                        <input formControlName="isRequire" type="checkbox"/>
                        обязателен
                    </label>
                </div>
                <div>
                    <label>
                        <input formControlName="isCanAsFilter" type="checkbox"/>
                        как фильтр (тоже)
                    </label>
                </div>
            </div>
        </div>
        <div>
            <button (click)="removed.emit(index)" type="button">-</button>
        </div>
    </div>
</div>
