@paddingCommon: 10px; // поставлен на контейнер, для отступов по краям экранов

// colors
@colorBasicText: #282C3A;
@colorPrimary: #0064FF;
@colorPrimaryLight: #3785ff;
@colorDanger: #E12714;
@colorWarning: #FEBE17;
@colorSuccess: #87D756;
@colorTextMute: #93969c;
@colorBorderLightgray: #e9eaeb;

// path
@imgPath: '/assets/images';

// shadow
@shadowBig: 0 7px 15px rgba(0, 0, 0, 0.2);
@shadowBasic: 0 5px 10px rgba(0, 0, 0, 0.1);
@shadowSmall: 0 2px 5px rgba(0, 0, 0, 0.1);

@bgPrimary: rgba(0, 100, 255, 0.9);

// размеры шрифтов
@sizeFontXs: 10px;
@sizeFontSm: 12px;
@sizeFontMd: 14px;
@sizeFontLg: 16px;
