@import "./css_variables";

.templateForInput() {
    box-sizing: border-box;
    font-size: 1em;
    font-family: @font_family;
    border: lightgray solid @1px; // 1px / 16px
    box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.1); // 5px / 16px
}

.form {
    &_title {
        margin-bottom: 0.4em; // 4px / 16px
    }

    &_row {
        & + & {
            margin-top: 1em; // 16px / 16px
        }

        &.sx-submit {
            margin-top: 2em; // 32px / 16px
        }
    }

    &_cols {
        display: flex;

        &_col {
            flex-basis: 100%;

            &:first-child {
                flex: 0 0 13em; // 210px / 16px
            }

            &:not(:first-child) {
                margin-left: 1em;
            }
        }
    }

    &_100 {
        display: block;
        width: 100%;
    }

    &_radio-chain {
        position: relative;

        & + & {
            label {
                border-left: 0;
            }
        }

        input[type="radio"] {
            position: absolute;
            visibility: hidden;
            z-index: -1; // для надежности
        }

        input[type="radio"]:checked + label {
            background: rgb(204, 204, 204);
            background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(238, 238, 238, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(238, 238, 238, 1) 100%);
            background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgba(238, 238, 238, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0);
        }

        label {
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            padding: 0 1.25em; // 20px / 16px
            height: 2em; // 32px / 16px
            border: lightgray solid @1px;
            white-space: nowrap;
            cursor: pointer;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0);
        }
    }

    &_comment {
        margin: 0.3em 0 0 0; // 4px / 16px
    }

    &.sx-loading {
        opacity: 0.5;
    }

    input[type="text"], input[type="number"], input[type="email"], input[type="file"], input[type="password"], select, textarea {
        &.sx-error {
            border-color: red;
        }
    }
}

input[type="button"], input[type="submit"], button {
    box-sizing: border-box;
    border: lightgray solid @1px; // 1px / 16px
    height: 2.5em; // 40px / 16px
    cursor: pointer;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0);

    &:hover {
        border-color: darken(lightgray, 10%);
    }

    &:active {
        color: #333333; // для Safari
        background: #e5e5e5;
        background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
        background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0);
    }

    &[disabled] {
        color: lighten(#333333, 50%); // для Safari

        &:hover {
            border-color: lightgray;
            cursor: not-allowed;
        }

        // для Safari
        &:active {
            background: #ffffff;
            background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
            background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
            background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0);
        }

        // \для Safari
    }
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], select, input[type="file"] {
    .templateForInput();
    min-width: 4em; // 64px / 16px
    height: 1.71em; // 27px / 16px

    & + input[type="submit"] {
        border-left: 0;
    }
}

textarea {
    .templateForInput();
    display: block;
    width: 100%;
    height: 10em; // 160px / 16px
}
