/* You can add global styles to this file, and also import other style files */
@import "./css_variables";

// z-index:

// тело документа делать в процентах, остальное в em
body {
    margin: 0;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    background-color: @color_dark;
    color: @color_dark_light;
}

@import "./css_typography";
@import "./css_form";

a {
    &:hover {
        text-decoration: none;
    }
}

.text-eclipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
