/* You can add global styles to this file, and also import other style files */
@import "./css_variables";

// z-index:
//      nav = 10

// тело документа делать в процентах, остальное в em
body {
    margin: 0;
    font-family: @font_family;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    background-color: @color_dark;
    color: @color_dark_light;
}

@import "./css_typography";
@import "./css_form";

a {
    &:hover {
        text-decoration: none;
    }
}

.text-eclipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-mute {
    color: @color_text_mute;
}

.text-nowrap {
    white-space: nowrap;
}

.container {
    max-width: 60em; // 960px / 16px
    width: 100%;
    margin: 0 auto;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none !important; // для перекрытия искусственно даем важность, более не делаем
}
